<html>
  <head> </head>
  <body>
    <div
      style="
        background-color: #dfe6e9;
        margin: auto;
        width: 98%;
        padding: 10px;
        border-radius: 5px;
      "
    >
      <img
        src="cid:logo"
        alt="Syncviz Logo"
        width="100"
        style="margin-left: auto; margin-right: auto; display: block"
      />
      <h1 style="color: #2d3436; text-align: center">{{header}}</h1>
      <p style="color: #2d3436; text-align: center">{{date_of_delivery}}</p>
      <p style="color: #2d3436; text-align: center" id="Intro">{{paragraph}}</p>
      <p style="text-align: center">
        <a
          href="{{link}}"
          style="
            color: white;
            background-color: #74b9ff;
            border-radius: 10px;
            padding: 5px;
            text-decoration: none;
          "
          >{{link_info}}</a
        >
      </p>
    </div>
  </body>
</html>
